<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="source" class="Source">
        <property name="fruit" value="Apple"></property>
        <property name="sugar"               value="cube"></property>
        <property name="size" value="large"></property>
    </bean>
    <bean id="juice" class="Juice">
        <property name="psource" ref="source"></property>
    </bean>

</beans>